.header {
	margin-top: 10px;
	text-align: center;
	background-color: black;
	border-radius: 0.3rem;
}

.headertext {
	color: white;
	margin-top: 20px;
	font-family: 'Chilanka', cursive;
}

.timer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
	font-family: 'Red Hat Display', sans-serif;
}