.inputTimerText{
	margin-left: 10px;
}

.inputFormText{
	margin-right: 10px;
}

.timer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appbody {
	text-align: center;
}

body{
	font-family: 'Manjari', sans-serif;
}