.form {
	border: 2px solid red;
}

.list {
	border: 2px solid yellow;
}

.doneList {
	border: 2px solid green;
}

.container {
	justify-content: space-around;
}


body{
	font-family: 'Manjari', sans-serif;
}